
<%= simple_form_for(@idea) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
   
    <%= f.input :title, label: "Give your idea a title" %>
    <%= f.input :problem, label: "What is the problem you are solving?" %>
    <%= f.input :people, label: "Which people are affected by this problem?" %>
    <%= f.input :solution, label: "What is your suggested solution?" %>
  </div>

  
    <%= f.button :submit, class: 'btn btn-primary' %>
  
<% end %>
