<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @idea.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @idea.user.email %></h6>
    <p class="card-text"><%= @idea.problem %></p>
    <p class="card-text"><%= @idea.people %></p>
    <p class="card-text"><%= @idea.solution %></p>
    <% if @idea.user == current_user %>
      <%= link_to 'Edit', edit_idea_path(@idea), class: "card-link" %>
    <% end %>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @idea.user.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @idea.problem %>
</p>

<p>
  <strong>People:</strong>
  <%= @idea.people %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @idea.solution %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
