<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @idea.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @idea.user.email %></h6>
    <p class="card-text"><%= @idea.problem %></p>
    <p class="card-text"><%= @idea.people %></p>
    <p class="card-text"><%= @idea.solution %></p>
    <% if @idea.user == current_user %>
      <%= link_to 'Edit', edit_idea_path(@idea), class: "card-link" %>
    <% end %>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<%= render 'comments/form' %>

<% @idea.comments.each do |comment| %>
  <div class="card">
    <div class="card-body">
      <p><%= comment.content %></p>
      <small class="text-muted">Posted: <%= time_ago_in_words comment.created_at %></small>
    </div>
  </div>
  
<% end %>